* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #111;
    max-height:100vh;
    padding: 0;
    margin: 0;
}

:root {
    /*color*/
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /*font size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /*Border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*Site max width*/
    --site-max-width: 1300px;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    padding: 1rem;
    background-color: #333;
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius-circle);
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}


.menu li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 1rem;

}

.menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: none;
    transition: 0.25s ease;
}

.menu ul li {
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}

ul:hover a {
    color: #575757;
}

ul:hover a:hover {
    color: #8eaaf8;
    box-shadow: 0 2px 0 0 currentColor;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title:after {
    content: '';
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

.portfolio-section {
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.portfolio-section .testimonial{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.portfolio-section .testimonial .user-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 50px;
    border-radius:var(--border-radius-circle);
}

.portfolio-section .testimonial .name{
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

