* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*color*/
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /*font size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /*Border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*Site max width*/
    --site-max-width: 1300px;
}

.container {
    width: 100%;
    z-index:5;
    max-width: 1140px;
    margin: 0 auto;
    
}

nav {
    padding: 1rem;
    background-color: #333;
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius-circle);
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}


.menu li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 1rem;
    
}

.menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: none;
        transition: 0.25s ease;
}

.menu ul li {
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}

.menu ul li {
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}

ul:hover a {
    color: #575757;
}

ul:hover a:hover {
    color: #8eaaf8;
    box-shadow: 0 2px 0 0 currentColor;
}

.hero-section{
    min-height: 100vh;
    background-color: rgb(145, 145, 145);
}

.hero-section .section-content {
    padding: 5rem;
    display: flex;
    align-items: center;
    min-height: 100vh;
    color:var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size:var(--font-size-xxl);
    color:black;
}

.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size:var(--font-size-xl);
    font-weight:var(--font-weight-semibold);
}

.hero-section .hero-details .description {
    font-size:var(--font-size-m);
    margin: 24px 0 40px;
    max-width: 70%;
}

.hero-info p {
    margin: 1rem 0;
}

.hero-section .hero-details .button {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button:hover {
    color: var(--white-color);
    border-color: var(--secondary-color);
    background: transparent;
}

.hero-section .hero-details .button a {
    padding :10px 26px;
    color: var(--primary-color);
    border: 2px solid transparent;
    font-weight: var(--font-weight-medium);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    text-decoration: none;
    transition: 0.3s ease;
}

.hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
}

.blog-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    
}

.blog-title {
    margin: 2rem 0;
}

.blog-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.blog-item h4 {
    margin-top: 1rem;
}

.blog-item p {
    margin: 1rem 0;
}

.blog-item a {
    display: inline-block;
    color:#fff;
    background-color: orange;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.footer-top {
    padding: 3rem;
    background-color: rgb(145, 145, 145);
    color: #fff;
    margin: 1rem 0;
}

.footer-top-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con {
    display:flex;
    margin: 1rem 0;
}

.footer-top-item-con .date {
    background-color: #fff;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    text-align:center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4{
    margin-bottom: 1rem;

}

.footer-bottom {
    background-color : #ffff;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content:center;
    }

    .hero-section .hero-details :is(.subtitle,
    .description) {
        max-width: 100%;
    }

    .hero-section .hero-details .button {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }
}